<form action="/pools/search/json" method="POST" class="form-inline">
  <div class="col-xs-3 form-group">
    <p style="font-size: 14px"><%= @location.nil? ? "" : "You are in : #{@location.capitalize} " %><br><%= link_to "Change location", root_path %></p>
  </div>
  <div class="col-xs-3 form-group justmargin">
    <div class="input-group">
      <input type="number" class="form-control" name="search_parameters[max_price]" id="max-price" placeholder="max">
      <div class="input-group-addon">€</div>
    </div>
  </div>
  <div class="col-xs-3 form-group justmargin">
    <div class="input-group">
      <input type="number" class="form-control" name="search_parameters[range]" id="range" placeholder="max">
      <div class="input-group-addon">km</div>
    </div>
  </div>
  <button type="submit" class="col-xs-1 btn btn-success" style="margin: 0px 10px;" id="search-submit">Filter</button>
  <button type="submit" class="col-xs-1 btn btn-primary" id="reset-filter">Reset</button>
</form>

