<form action="/pools/search/json" method="POST" class="form-inline">
  <div class="form-group">
    <label for="location">City</label>
    <input type="text" class="form-control" id="location" name="search_parameters[location]" placeholder="Type location here">
  </div>
  <div class="form-group">
    <label for="max-price">Maximum price</label>
    <div class="input-group">
      <input type="number" class="form-control" name="search_parameters[max_price]" id="max-price">
      <div class="input-group-addon">€</div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" id="search-submit">Filter</button>
</form>

