<h1 class="text-center">Pools</h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8">
        <% @pools.each do |pool| %>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= render "pool_card", pool: pool %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div id="map"></div>
      </div>
    </div>
  </div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });


      $('.avatar-bordered').on('click', function (e){
        e.preventDefault();
        window.location.replace(window.location['origin'] + '/users/' + this.id);
      });
    })
  <% end %>
<% end %>


