<!-- app/views/pools/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render "pools/pool_card", pool: @pool %>
    </div>
    <div>
      <%= render "bookings/form", pool: @pool %>
    </div>
  </div>
</div>
