/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

/* --TODO-- Add media queries for mobile display (to display in column the form) */


#home-main-container {
  width:100%;
  #home-main {
    background-image:url(image_path('background-main.jpg'));
    height: 90vh;
    width: 100%;
    background-size: cover;
    color:white;
    font-size: 40px;
    font-weight: 400;
    padding-top:30vh;
      #subtitle {
        font-size:20px;
      }
  }
  #searchbar {
    position:absolute;
    bottom:0px;
    width:100%;
    font-size:20px;
    background-color:black;
    opacity: 0.8;
    height: 15vh;
    #searchbar-content {
      font-size:12px;
      margin-top:34px;
    }
    #search-button {
      margin-top:20px;
    }
  }
  #homepage-followup {
    background-color:#DDDDDD;
    height:1500px;
    #card1 {
      background-color:white;
      margin-top:150px;
      padding: 0px;
      #pool1 {
        padding:0px;
        height:370px;
        background-image:url(image_path('pool1.jpg'));
        background-size: cover;
      }
      #caption1 {
        padding-left:10px;
        padding-top:40px;
        font-size: 28px;
        font-weight: 800;
        font-family: Open Sans;
      }
      #caption2 {
        padding-left:10px;
        padding-top: 30px;
      }
      #btn-pool1 {
        display:block;
        margin: 0 auto;
        margin-top: 43px;
      }
    }
    #card2 {
      #caption1 {
        font-weight:800;
        font-size: 35px;
        color:#515151;
        margin-top: 100px;
      }
      #card3 {
        background-color:white;
        height:150px;
        margin: 0 10px;
      }
    }
  }
}
