/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

/* --TODO-- Add media queries for mobile display (to display in column the form) */


#home-main-container {
  width:100%;
  #home-main {
    background-image:url(image_path('background-main.jpg'));
    height: 90vh;
    width: 100%;
    background-size: cover;
    color:white;
    font-size: 40px;
    font-weight: 400;
    padding-top:30vh;
      #subtitle {
        font-size:20px;
      }
  }
  #searchbar {
    position:absolute;
    bottom:0px;
    width:100%;
    font-size:20px;
    background-color:black;
    opacity: 0.8;
    height: 15vh;
    #searchbar-content {
      font-size:12px;
      margin-top:34px;
    }
    #search-button {
      margin-top:20px;
    }
  }
}
