#map {
  background-color: #CACACA;
  height: 80vh;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.button-inline {
  display: flex;
}

.header-filter {
  background-color: #EDEDED;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 45px;
  margin-left: 0px;
  margin-right: 0px;
}

.nopadding {
  margin: 0px;
  padding: 0px;
}

justmargin {
  padding: 0px;
}

.v-scroll {
    height: 70vh; /* %-height of the viewport */
    overflow-y: scroll;
}
