<div class="row">
  <% @pool.bookings.each do |booking| %>
    <% unless booking.booking_rating.nil? %>
    <div class="col-xs-12 col-sm-8">
      <div class="pool-review">
        <div class="profile-picture text-center">
          <%= cl_image_tag booking.user.avatar.path, class: 'avatar-big' %>
          <p><%= booking.user.first_name %></p>
        </div>
        <div class="pool-review-content">
          <p><%= booking.date %>&nbsp;&nbsp;&nbsp;
            <% booking.booking_rating.times do %>
              <i class="fa fa-star" style="color: #EEBD2D" aria-hidden="true"></i>
            <% end %>
            <% (5 - booking.booking_rating).times do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %>
          </p>
          <p><%= booking.booking_comment %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
