<!-- Your footer code -->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li>
            <a href="#" id="ythover">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="#" id="fbhover">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#" id="twhover">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#" id="insthover">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-8 text-right" id="footer-text">
        <p>AirPnD challenge @ LeWagon</p>
      </div>
    </div>
  </div>
</div>
