<div class="container" id='home-main-container'>
  <div class="row">
    <div class="col-xs-12 text-center" id="home-main">
      <p>Welcome to Air Pool &amp; Dive</p>
      <p id="subtitle">The number 1 website for Pool sharing</p>
      <div class="row">
        <div class="col-xs-12" id="searchbar">
          <div class="col-xs-12 col-md-8 col-md-offset-2" id="searchbar-content">
            <% @date = Date.new %>
            <form action="/pools">
            <div class="col-xs-3 col-xs-offset-1" id="search_location"><input type="text" class="form-control" name="location" placeholder="Paris"></div>
            <div class="col-xs-2" id="search_start_date"><input class="form-control" name="reservation_date" placeholder="12/05/2016"></div>
            <div class="col-xs-1" id="search_submit"><button class="btn btn-primary" type="submit">Rechercher</button></div></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
