<div class="container" id='home-main-container'>
  <div class="row">
    <div class="col-xs-12 text-center" id="home-main">
      <p>Welcome to Air Pool &amp; Dive</p>
      <p id="subtitle">The number 1 website for Pool sharing</p>
      <div class="row">
        <div class="col-xs-12" id="searchbar">
          --TODO-- Add Searchbar
        </div>
      </div>
    </div>
  </div>
</div>
