.banner {
  height: 350px;
  background: cover;
}

.summary {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(30, 30, 30);
  transition: all 0.3s;
}

.profile-picture {
  display: flex;
  flex: 0 0 15%;
  padding-right: 20px;
  align-items: center;
  flex-direction: column;
}

.pool-review-content {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
}

.pool-review {
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(30, 30, 30);
}

.pool-infos {
  flex: 1 0 auto;
  padding-top: 15px;
}

.description h1, h3 {
  font-size: 20px;
  color : rgb(60, 60, 60);
}

.summary h1, h3 {
  font-size: 20px;
  color : rgb(60, 60, 60);
}

.review h1, h3 {
  font-size: 20px;
  color : rgb(60, 60, 60);
}

.description p {
  font-size: 12px;
  color : rgb(130, 130, 130);
}

.summary p {
  font-size: 12px;
  color : rgb(130, 130, 130);
}

.review p {
  font-size: 12px;
  color : rgb(130, 130, 130);
}


.description {
  background-color: rgb(230, 230, 230);
  border: color rgb(200, 200, 200) solid 1px;
}

.paddind-summary {
  padding: 10px;
}

.pac-container {
    z-index: 1051 !important;
}

.attachinary_container > ul {
  padding: 5px 0px;
  list-style: none;
}

/* Override datepicker CSS */

.disabled.day {
  color: #FD7D7A !important;
}
