.card-container {
  height: 240px;
  position: relative;
  margin: 0px 0px;
  padding: 0px;
  background-color: #F6F6F6;
}

.card {
  height: 160px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px 0px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
}

.card-footer {
  position: absolute;
  top: 150px;
  left: 0px;
  padding-left: 5px;
  color: #242424;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  opacity: 1;
}
.card-link:hover{
  opacity: 0.8;
}

.card-footer{
  width: 80%;
  margin-top: 5px;
  p {
    font-size: 12px;
  }
}

.card-avatar {
  position: absolute;
  bottom: 50px;
  right: 25px;
}

.price-tag {
  position: absolute;
  left: 0px;
  bottom: 80px;
  background-color: rgba(10,10,10,0.7);
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  p {
    margin: 0px;
    font-size: 16px;
  }
}
