// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label_form {
  font-size: 15px;
  color: rgb(30, 30, 30);
}

.tabs {
  background: #CCCCCC;
  display: flex;
  padding: 10px 10px 0 10px;
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #808080;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 15px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
}
#grey_container {
  background: #CCCCCC;
  width: 100%;
}
.main-booking.active {
  padding: 0 10px 0 10px;
  display: block;
}
.main-booking {
  display:none;
  padding: 0 10px 0 10px;
}

.content {
  background-color: white;
}
