// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tabs {
  background: #CCCCCC;
  display: flex;
  padding: 10px 100px 0 100px;
  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
  }

  h3 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
  }

  p {
    opacity: 0.5;
    margin-bottom: 0;
  }
}

.tab {
  background: #AAAAAA;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 15px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
}

.label_form {
  font-size: 12px;
  color: rgb(30, 30, 30);
}

.grey_container {
  background: #CCCCCC;
  width: 100%;
}
.main-booking.active {
  padding: 0 100px 0 100px;
  display: block;
}
.main-booking {
  display:none;
  padding: 0 100px 0 100px;
  background: #CCCCCC;
}

// owner

.container-bookings {
  padding: 50px;
}

.booking-owner-line {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;

  p {
    margin: 0;
  }
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  align-items: center;
}

.status-owner-line {
  margin-left: 50px;
  width: 30%;
}

.content-owner-line {
  margin-left: 20px;
  justify-content: left;
  width: 50%;
}

.action-owner-line {
  margin-left: 50px;
  justify-content: right;
  width: 15%;
}

.avatar-owner-line {
  width: 5%;
}

#hourly-title {
  font-size: 12px;
  font-weight: 600;
}

#hours-container {
  border: 1px #CCCCCC solid;
  border-radius: 3px;
}

#new_booking {
  max-width: 360px;
}

#hours-submit {
  padding-top: 15px;
}

#hours-submit > input {
  width: 100% !important;
  margin: 0 auto !important;
}

#hours-container {
  padding: 0;
}

#hours-full-container {
  display:none;
}

#timeslot {
  padding: 3px;
}

.timeslot.available {
  background-color: #9CFD5B;
  color: #095700;
  height: 100%;
  display: inline-block;
  font-size: 12px;
  text-align:center;
  cursor: pointer;
}

.timeslot.available.selected {
  background-color: #105E00;
  color: white;
}

.timeslot.unavailable {
  background-color: #FF8E8B;
  color: #890000;
  height: 100%;
  display: inline-block;
  font-size: 12px;
  text-align:center;
}

#customer_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

#date_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

#time_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

#datepicker_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

.width-btn {
  width: 182px;
}
