// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label_form {
  font-size: 15px;
  color: rgb(30, 30, 30);
}

.tabs {
  background: #CCCCCC;
  display: flex;
  padding: 10px 10px 0 10px;
}

.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #808080;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 15px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
}
.grey_container {
  background: #CCCCCC;
  width: 100%;
}
.main-booking.active {
  padding: 0 10px 0 10px;
  display: block;
}
.main-booking {
  display:none;
  padding: 0 10px 0 10px;
  background: #CCCCCC;
}

.label_form {
  font-size: 12px;
  color: rgb(30, 30, 30);
}

.booking-card-photo {
  height: 175px;
  border-radius: 4px 4px 0px 0px;
}

.avatar-owner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 150px;
}

.booking-card {
  height: 500px;
  background-size: cover !important;
  position: relative;
  margin: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
}

.booking-card-category {
  position: absolute;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.booking-card-description {
  position: absolute;
  top: 220px;
  position: absolute;
  color: rgb(30, 30, 30);
  width: 100%;
}

.booking-card-msg {
  position: absolute;
  top: 300px;
  position: absolute;
  color: rgb(30, 30, 30);
  width: 100%;
}

.booking-card-button {
  border-top: 1px solid #cacccd;
  height: 60px;
  padding-top: 11px;
}

// owner

.booking-owner-line {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;

  p {
    margin: 0;
  }
  background-color: #CCCCCC;
  border-radius: 4px;
  align-items: center;
}

.status-owner-line {
  margin-left: 50px;
}

.content-owner-line {
  margin-left: 20px;
  width: 50%;
}

.action-owner-line {
  margin-left: 50px;
}

#hourly-title {
  font-size: 12px;
  font-weight: 600;
}

#hours-container {
  border: 1px #CCCCCC solid;
  border-radius: 3px;
}

#new_booking {
  max-width: 360px;
}

#hours-submit {
  padding-top: 15px;
}

#hours-submit > input {
  width: 100% !important;
  margin: 0 auto !important;
}

#hours-container {
  padding: 0;
}

#hours-full-container {
  display:none;
}

#timeslot {
  padding: 3px;
}

.timeslot.available {
  background-color: #9CFD5B;
  color: #095700;
  height: 100%;
  display: inline-block;
  font-size: 12px;
  text-align:center;
  cursor: pointer;
}

.timeslot.available.selected {
  background-color: #105E00;
  color: white;
}

.timeslot.unavailable {
  background-color: #FF8E8B;
  color: #890000;
  height: 100%;
  display: inline-block;
  font-size: 12px;
  text-align:center;
}

#customer_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

#date_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

#time_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}

#datepicker_error {
  font-size: 12px;
  font-weight: 800;
  color: #890000;
  text-align:center;
}
